<div class="container">
  <div class="row">
    <div class="col-12">
      <div id="contenedorTarjetas" class="row">
        
            <div class="col-5 card tarjeta" style="width: 18rem;">
                <p style="text-align: center;">
                    <img class="card-img-top" src="https://botw-pd.s3.amazonaws.com/styles/logo-thumbnail/s3/052014/1_80_plus_0.png?itok=aXN3IRZd"
                    alt="Card image cap">  
                </p>
                <div class="card-body">
                  <h5 class="card-title">Fuentes de poder 80 PLUS</h5>
                  <p class="card-text">La certificacion 80 PLUS nos garantiza un correcto funcionamiento con hasta un 80% de la energia trabajada por
                    nuestra fuente que ira directamente a nuestros equipos, una calidad de componentes buena y una durabilidad
                    aceptable para cualquier starter en ensambles.</p>
                  <a routerLink="/categorias/fuentes/ochentaplus" class="btn btn-primary">Ver fuentes 80 PLUS</a>
                </div>
              </div>
      
              <div class="col-5 card tarjeta" style="width: 18rem;">
                  <p style="text-align: center;">
                      <img class="card-img-top" src="https://botw-pd.s3.amazonaws.com/styles/logo-thumbnail/s3/052014/2_80_plus_bronze_0.png?itok=Jsu0K8XQ"
                      alt="Card image cap">  
                  </p>
                <div class="card-body">
                  <h5 class="card-title">Fuentes de poder 80 PLUS</h5>
                  <p class="card-text">La certificacion 80 PLUS nos garantiza un correcto funcionamiento con hasta un 80% de la energia trabajada por
                    nuestra fuente que ira directamente a nuestros equipos, una calidad de componentes buena y una durabilidad
                    aceptable para cualquier starter en ensambles.</p>
                  <a routerLink="/categorias/fuentes/ochentaplus-bronze" class="btn btn-primary">Ver fuentes 80 PLUS</a>
                </div>
              </div>
      
      </div>

      <div id="contenedorTarjetas" class="row" style="margin-top: 15px;">

          <div class="col-5 card tarjeta" style="width: 18rem;">
              <p style="text-align: center;">
                  <img class="card-img-top" src="https://botw-pd.s3.amazonaws.com/styles/logo-thumbnail/s3/052014/3_80_plus_silver.png?itok=G6McnCjE"
                  alt="Card image cap">  
              </p>
              <div class="card-body">
                <h5 class="card-title">Fuentes de poder 80 PLUS</h5>
                <p class="card-text">La certificacion 80 PLUS nos garantiza un correcto funcionamiento con hasta un 80% de la energia trabajada por
                  nuestra fuente que ira directamente a nuestros equipos, una calidad de componentes buena y una durabilidad
                  aceptable para cualquier starter en ensambles.</p>
                <a routerLink="/categorias/fuentes/ochentaplussilver" class="btn btn-primary">Ver fuentes 80 PLUS</a>
              </div>
            </div>
  
            <div class="col-5 card tarjeta" style="width: 18rem;">
                <p style="text-align: center;">
                    <img class="card-img-top" src="http://theysa.org/wp-content/uploads/img/Power-Supply-80-PLUS-Gold-Certification-Logo-1.png"
                    alt="Card image cap">  
                </p>
                <div class="card-body">
                  <h5 class="card-title">Fuentes de poder 80 PLUS</h5>
                  <p class="card-text">La certificacion 80 PLUS nos garantiza un correcto funcionamiento con hasta un 80% de la energia trabajada por
                    nuestra fuente que ira directamente a nuestros equipos, una calidad de componentes buena y una durabilidad
                    aceptable para cualquier starter en ensambles.</p>
                  <a routerLink="/categorias/fuentes/ochentaplusgold" class="btn btn-primary">Ver fuentes 80 PLUS</a>
                </div>
              </div>

      </div>

    </div>
  </div>
</div>
   <router-outlet></router-outlet>
  